body{
  background-color: #070C32;
  color:#D6D8E7;
}
h2
{
  font-family: sans-serif;

}

 h1:hover , h2:hover
{
background-color: #D6D8E7;
color: #070C32;
}

h3
{
  font-family: monospace;
    font-weight: normal;
}

ul li,ol li
{
  font-family: monospace;
}

a{
  font-size: 30px;
  font-family:serif;
}
